@model IEnumerable<ShauliBlog.Models.Comment>

@{
    ViewBag.Title = "ManageComments";
}

@if (Session["Name"] != null)
{
    <h2>Manage Comments</h2>

    if (Model.Count() == 0)
    {
        <h3>There are no comments for the current Post :(</h3>
    }
    else
    {
        using (Html.BeginForm(FormMethod.Post))
        {
            <p>
                <input hidden name="postId" id="postId" value=@Url.RequestContext.RouteData.Values["id"] />
                Title: @Html.TextBox("searchTitle")
                <br />
                Author: @Html.TextBox("searchAuthor")
                <br />
                Website: @Html.TextBox("searchWebsite")
                <input type="submit" value="Filter" />
            </p>
        }

        foreach (var comm in Model)
        {
        <input type="button" value="Remove Comment" onclick="@("window.location.href='" + @Url.Action("DeleteComment", "Blog", new { id = comm.ID }) + "'");" />
        <input type="button" value="Edit Comment" onclick="@("window.location.href='" + @Url.Action("EditComment", "Blog", new { id = comm.ID }) + "'");" />
        <article>
            <header>
                <h4>@comm.Title</h4>
                <a href="@string.Format("http://{0}", comm.Website)">@comm.Author</a>
            </header>
            <p>@comm.Content</p>
        </article>
        }
    }
}
else
{
    <h3>You are not a manager! Access Denied</h3>

    <div>
        @Html.ActionLink("Back to Blog", "Index", "Blog")
    </div>
}